

<div id ="contact_dd_<%=dom_id(group)%>_<%=dom_id(contact)%>" class = "d-flex justify-content-between align-items-center">

  <div class = "small"><%= link_to contact.name, contact_path(contact), class: "text-dark" %></div>

  <div class="small"><%= contact.preferred_method %></div>

</div>