<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>

<body>
<h1 class="display-4"><i class="fas fa-user-friends"></i> My Groups</h1>

<hr class="mb-5">


<div id = "new-group" class = "col-4 mb-3">
  <%= link_to 'Add New Group', new_group_path, class: 'btn btn-primary btn-sm mt-2 mb-2',  remote: true %>
</div>


<div class = "row" id = "group-table">
  

    <% current_user.groups.by_created_date.each_with_index do |group, index| %>
      
      <%= render "groups/group_all", group: group, index: index %>
      
    <% end %>

</div>




<br>









































</body>
