<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>

<body>

<div class="d-flex justify-content-between align-items-center">
  <h1 class="display-4"><i class="fas fa-user-friends"></i> My Groups</h1>
  <%= link_to 'Add New Group', new_group_path, class: 'btn btn-primary btn-sm mt-2 mb-2',  remote: true %>
</div>



<hr id = "new-group" class="mb-5">



<div class = "row" id = "group-table">
  

    <% current_user.groups.by_created_date.each_with_index do |group, index| %>
      
      <%= render "groups/group_all", group: group, index: index %>
      
    <% end %>

</div>




<br>









































</body>
