<h1>Welcome</h1>
<p class="fs-5 col-md-8">Quickly and easily manage your contacts below.</p>

<div class="mb-5">
  <a href="#" class="btn btn-primary">Add More Contacts</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
  <div class="col-md-8">

    <div class="card">
      <div class="card-header">
        <h5><i class="far fa-id-card"></i> Recently Added Contacts</h5>
        <p class="card-text"> Below are your last 10 added contacts:</p>
      </div>
      
      <div class="card-body">

        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pref. Method</th>
              <th>Personal #</th>
              <th>Work #</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @user.contacts.by_created_date.first(10).each do |contact| %>
              <%= render "contacts/contact_show", contact: contact %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container mt-2">
      <%= link_to "Go to All Contacts", contacts_path(@user.username) %>
    </div>
    
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5><i class="fas fa-user-friends"></i> Groups</h5>
        <p class = "card-text">Below are your last 10 added groups</p>
      </div>
      <div class = "card-body">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th># of Members</th>
            </tr>
          </thead>
          <tbody>
            <% @user.groups.by_created_date.first(10).each do |group| %>
              <%= render "groups/group_show", group: group %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container mt-2">
      <%= link_to "Go to All Groups", contacts_path(@user.username) %>
    </div>
  </div>
</div>