<h1 class="display-4"><i class="far fa-id-card"></i> My Contacts</h1>

<hr class="mb-5">

<% current_user.contacts.by_created_date.each do |contact| %>
  <%= render "contacts/contact_all", contact: contact %>
<% end %>


<button type="button" class="btn btn-outline-primary btn-sm">
  <%= link_to 'Add Contact', new_contact_path %>
</button>

<br>


