<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>
<body>
  <div>
    <h4 class="display-4"><i class="far fa-id-card"></i> My Contacts</h4>
  </div>
  
  <hr>

  <div id = "new-contact">
    
    <%= link_to 'Add Contact', new_contact_path, remote: true %>
    
  </div>




  <div class = "row mt-3">

    <% current_user.contacts.by_created_date.each do |contact| %>
      <div class = "col-4">
        <%= render "contacts/contact", contact: contact %>
      </div>
    <% end %>

  </div>


</body>




