<div id = "remove-member-form-<%=dom_id(@group)%>" class="dropdown mt-3">
  <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select User to Delete
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @members.each do |option| %>
      <%= link_to option.contact.name, option, method: :delete, class: "dropdown-item", remote: true %>
    <% end %>
  </div>
</div>